{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>typefiction{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'typefiction/styles.css' %}" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% block script %}{% endblock %}
    </head>

    <body class="py-6">
        <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
            <a class="navbar-brand" href="{% url 'index' %}">type:Fiction</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'new' %}">New Story <span class="sr-only">(current)</span></a>
                    </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                <a class="nav-link" class="text-light" href="{% url 'profile' user.id %}"><strong>{{ user.username }}</strong></a>
                <a class="nav-link" class="text-light" href="{% url 'logout' %}">Log Out</a>
                {% else %}
                <form class="form-inline my-2 my-lg-0" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group mx-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <input class="form-control mr-sm-2"  type="password" name="password" placeholder="Password" aria-label="Password" >
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
                </form>
                <a class="nav-link" class="text-light" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        </nav>

        <!-- body block -->
        <div class="container p-3 mb-5">
            <div class="alert alert-danger d-none" id="warning-box" role="alert">

            </div>
            {% block body %}
            {% endblock %}
        </div> <!-- /container -->
    </body>
</html>
