{% extends "typefiction/layout.html" %}
{% load static %}
{% block title %}: {{profile}}'s profile{% endblock %}

{% block body %}
    <div class="row my-3 ">
        <div class="col-1 " id='profile-img'>
            <img id="profile-picture-{{profile.id}}" class="pp img-fluid" src="{{profile.image}}"></img>
        </div>
        <div class="col" id='profile-details'>
            <h3 id="profile-card-{{profile.id}}"><span id="profile-name">{{profile}}</span>'s profile</h3> 
            <small id="profile-date">Member since {{profile.user.date_joined| date:"F d Y"}}</small>
            <div class="row d-none" id="pp-url-input">
                <div class="col">
                    <input type="url" id="edit-img-box" class="form-control" name="image" placeholder="Enter an image url here" required>
                </div>
                <div class="col">
                    <button id="pp-update-btn" class="btn btn-link">Submit</button>
                </div>
            </div>
        </div>

        <div class="col-2 text-left" id='profile-btns'>
            {% if request.user.id != profile.id and user.is_authenticated %} 
            <div class="text-left in-line"><button id="follow-btn-{{profile.id}}" class="btn btn-primary mx-3">Follow</button></div> 
            {% elif request.user.id == profile.id %}
            <div class="text-left in-line my-2"><button id="edit-btn-{{profile.id}}" class="btn btn-primary mx-3">Edit Info</button></div> 
            {% endif %}
        </div>
    </div>
    
    <h5 class="my-3"><a href="#profile-stories">{{stories|length}} Stories</a> | <a href="#following-stories"><strong id="following-num-{{profile.id}}">{{following|length}}</strong> following</a> | <strong id="follower-num-{{profile.id}}">{{follower|length}}</strong> followers</h5>

    <a name="profile-stories"></a>
    <h5 class="my-5">Stories from {{profile.user}}</h5>
    <div id="user-stories-all" class="my-5">
    {% for story in stories%}
            {% include 'typefiction/components/thread.html' %}
    {% endfor %}
    {% if not stories %}
    <p>No story is available...</p>
    {% endif %}
    </div>
    
    <a name="following-stories"></a>
    <h5 class="my-5">Stories from Following Authors</h5>
    <div id="following-stories-all" class="my-5">
    {% for story in following_stories%}
        {% include 'typefiction/components/thread.html' %}
    {% endfor %}
    {% if not following_stories %}
    <p>No story is available...</p>
    {% endif %}
    </div>
    
{% endblock %}



{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function(){
        const profile_id = {{profile.id}}

        {% if request.user.id != profile.id and user.is_authenticated %} 
        follow_status(profile_id)
        $('#follow-btn-{{profile.id}}').click(() => go_follow(profile_id));
        {% endif %}

        // LISTEN TO CLICK ON EDIT BUTTON IF REQUEST USER IS THE PROFILE OWNER
        {% if request.user.id == profile.id %}
        $(`#edit-btn-{{profile.id}}`).click(() => go_edit(profile_id));
        {% endif %}
    });

    // EDIT PROFILE BUTTON
    function go_edit(profile_id){
        // make input box appears
        $(`#pp-url-input`).toggleClass("d-none");
        // when submit button is clicked
        $(`#pp-update-btn`).click(function(){
            const new_uri = $(`#edit-img-box`).val();
            fetch(`/profile/edit/${profile_id}`, {
            method: 'POST', 
            body: JSON.stringify({
                image: new_uri
                })
            })
            .then(res=>res.json())
            .then(res=>{
                if(res.msg) $(`#profile-picture-${profile_id}`).attr("src", new_uri);
            })
            .then(data=>{$(`#pp-url-input`).toggleClass("d-none");})
            .catch(err=>{
                $(`#warning-box`).toggleClass("d-none");
                $(`#warning-box`).append(`<p>${err}</p>`);
            });
        })
    }


    // FOLLOW BUTTON
    function go_follow(profile_id){
        // select follow button by element id
        const f = document.querySelector(`#follow-btn-${profile_id}`);
        // select follow number by element id
        const numElm = document.querySelector(`#follower-num-${profile_id}`);
        const num = parseInt(numElm.innerHTML)
        // perform PUT
        fetch('/follows/'+profile_id, {
            method: 'PUT',
        })
        .then(res=>res.json())
        .then(res=>{
            // update button text
            f.innerHTML = res.msg
            // update follower number
            numElm.innerHTML = f.innerHTML === "Follow" ? num-1 : num+1;
        })
        .catch(err=>{
            $(`#warning-box`).toggleClass("d-none");
            $(`#warning-box`).append(`<p>${err}</p>`);
        });
    }

    // CHECK IF THE REQUEST USER IS ALREADY FOLLOWING THE PROFILE OWNER
    function follow_status(profile_id) {
        // select follow button by element id
        const f = document.querySelector(`#follow-btn-${profile_id}`);
        // perform GET
        fetch('/follows/'+profile_id, {
            method: 'GET',
        })
        .then(res=>res.json())
        .then(res=>{
            // update button text
            f.innerHTML = res.msg
        })
        .catch(err=>{
                $(`#warning-box`).toggleClass("d-none");
                $(`#warning-box`).append(`<p>${err}</p>`);
            });
    }
</script>
{% endblock %}