{% extends "typefiction/layout.html" %}
{% load static %}
{% block title %}: {{profile}}'s profile{% endblock %}

{% block body %}
    <div class="row my-3 ">
        <div class="col-1 " id='profile-img'>
            <img id="profile-picture-{{profile.id}}" class="pp img-fluid" src="{{profile.image}}"></img>
        </div>
        <div class="col" id='profile-details'>
            <h3 id="profile-card-{{profile.id}}"><span id="profile-name">{{profile}}</span>'s profile</h3> 
            <small id="profile-date">Member since {{profile.user.date_joined| date:"F d Y"}}</small>
            <div class="row d-none" id="pp-url-input">
                <div class="col">
                    <input type="url" id="edit-img-box" class="form-control" name="image" placeholder="Enter an image url here" required>
                </div>
                <div class="col">
                    <button id="pp-update-btn" class="btn btn-link">Submit</button>
                </div>
            </div>
        </div>

        <div class="col-2 text-left" id='profile-btns'>
            {% if request.user.id != profile.user.id and user.is_authenticated %} 
            <div class="text-left in-line"><button id="follow-btn-{{profile.id}}" class="btn btn-primary mx-3">Follow</button></div> 
            {% elif request.user.id == profile.user.id %}
            <div class="text-left in-line my-2"><button id="edit-btn-{{profile.id}}" class="btn btn-primary mx-3">Edit Info</button></div> 
            {% endif %}
        </div>
    </div>
    
    <h5 class="my-3"><span id="stories-click-{{profile.id}}">{{stories|length}} Stories</span> | <span id="following-click-{{profile.id}}"><strong id="following-num-{{profile.id}}">{{following|length}}</strong> following</span> | <span id="followers-click-{{profile.id}}"><strong id="follower-num-{{profile.id}}">{{follower|length}}</strong> followers</span> | <span id="watchlist-click-{{profile.id}}"><strong id="watchlist-num-{{profile.id}}">{{watchlist|length}}</strong> watchlist</span></h5> 

    <div id="profile-stories">
        <h5 class="my-5">Stories from {{profile.user}}</h5>
        <div id="user-stories-all" class="my-5">
        {% for story in stories%}
                {% include 'typefiction/components/thread.html' %}
        {% endfor %}
        {% if not stories %}
        <p>No story is available...</p>
        {% endif %}
        </div>
    </div>

    <div id="following">
        <h5 class="my-5">Following Authors</h5>
        <div id="following-all" class="my-5">
        {% for author in following %}
            <p><a href="{% url "profile" author.id %}" id="author-link">{{author}}</a></p>
        {% endfor %}
        {% if not following %}
        <p>Not following anyone...</p>
        {% endif %}
        </div>
    </div>

    <div id="followers">
        <h5 class="my-5">Followers</h5>
        <div id="follower-all" class="my-5">
        {% for u in follower %}
            <p><a href="{% url "profile" u.id %}" id="author-link">{{u}}</a></p>
        {% endfor %}
        {% if not follower %}
        <p>Not followed by anyone...</p>
        {% endif %}
        </div>
    </div>
    
    <div id="following-stories" class="d-none">
        <h5 class="my-5">Stories from Following Authors</h5>
        <div id="following-stories-all" class="my-5">
        {% for story in following_stories%}
            {% include 'typefiction/components/thread.html' %}
        {% endfor %}
        {% if not following_stories %}
        <p>No story is available...</p>
        {% endif %}
        </div>
    </div>

    <div id="watchlist-stories">
        <h5 class="my-5">Watchlist</h5>
        <div id="watchlist-stories-all" class="my-5">
        {% for story in watchlist %}
            {% include 'typefiction/components/thread.html' %}
        {% endfor %}
        {% if not watchlist %}
        <p>No story added to watchlist...</p>
        {% endif %}
        </div>
    </div>
    
{% endblock %}



{% block script %}


<!-- SCRIPT -->
<script>
    document.addEventListener("DOMContentLoaded", function(){
        const user_id = {{profile.user.id}}
        // initial view
        $(`#profile-stories`).css("display", "block");
        $(`#following`).css("display", "none");
        $(`#followers`).css("display", "none");
        $(`#watchlist-stories`).css("display", "none");

        {% if request.user.id != profile.user.id and user.is_authenticated %} 
        follow_status(user_id)
        $('#follow-btn-{{profile.id}}').click((e) => {
            e.preventDefault();
            go_follow(user_id)
        });
        {% endif %}

        // LISTEN TO CLICK ON EDIT BUTTON IF REQUEST USER IS THE PROFILE OWNER
        {% if request.user.id == profile.user.id %}
        $(`#edit-btn-{{profile.id}}`).click(() => go_edit(user_id));
        {% endif %}

        // toggle between views
        $(`#stories-click-{{profile.id}}`).click(()=>{
            $(`#profile-stories`).css("display", "block");
            $(`#following`).css("display", "none");
            $(`#followers`).css("display", "none");
            $(`#watchlist-stories`).css("display", "none");
        })

        $(`#following-click-{{profile.id}}`).click(()=>{
            $(`#profile-stories`).css("display", "none");
            $(`#following`).css("display", "block");
            $(`#followers`).css("display", "none");
            $(`#watchlist-stories`).css("display", "none");
        })

        $(`#followers-click-{{profile.id}}`).click(()=>{
            $(`#profile-stories`).css("display", "none");
            $(`#following`).css("display", "none");
            $(`#followers`).css("display", "block");
            $(`#watchlist-stories`).css("display", "none");
        })

        $(`#watchlist-click-{{profile.id}}`).click(()=>{
            $(`#profile-stories`).css("display", "none");
            $(`#following`).css("display", "none");
            $(`#followers`).css("display", "none");
            $(`#watchlist-stories`).css("display", "block");
        })

    });

    // EDIT PROFILE BUTTON
    function go_edit(user_id){
        
        // make input box appears
        $(`#pp-url-input`).toggleClass("d-none");
        // when submit button is clicked
        $(`#pp-update-btn`).click(function(){
            const new_uri = $(`#edit-img-box`).val();
            fetch(`/profile/edit/`+user_id, {
            method: 'POST', 
            body: JSON.stringify({
                image: new_uri
                })
            })
            .then(res=>res.json())
            .then(res=>{
                if(res.msg) $(`#profile-picture-{{profile.id}}`).attr("src", new_uri);
            })
            .then(data=>{$(`#pp-url-input`).toggleClass("d-none");})
            .catch(err=>{
                $(`#warning-box`).toggleClass("d-none");
                $(`#warning-box`).append(`<p>${err}</p>`);
            });
        })
    }


    // FOLLOW BUTTON
    function go_follow(user_id){
        // select follow button by element id
        const f = document.querySelector(`#follow-btn-{{profile.id}}`);
        // select follow number by element id
        const numElm = document.querySelector(`#follower-num-{{profile.id}}`);
        const num = parseInt(numElm.innerHTML)
        // perform PUT
        fetch('/follows/'+user_id, {
            method: 'PUT',
        })
        .then(res=>res.json())
        .then(res=>{
            // update button text
            f.innerHTML = res.msg
            // update follower number
            numElm.innerHTML = f.innerHTML === "Follow" ? num-1 : num+1;
        })
        .catch(err=>{
            $(`#warning-box`).toggleClass("d-none");
            $(`#warning-box`).append(`<p>${err}</p>`);
        });
    }

    // CHECK IF THE REQUEST USER IS ALREADY FOLLOWING THE PROFILE OWNER
    function follow_status(user_id) {
        // select follow button by element id
        const f = document.querySelector(`#follow-btn-{{profile.id}}`);
        // perform GET
        fetch('/follows/'+user_id, {
            method: 'GET',
        })
        .then(res=>res.json())
        .then(res=>{
            // update button text
            f.innerHTML = res.msg
        })
        .catch(err=>{
                $(`#warning-box`).toggleClass("d-none");
                $(`#warning-box`).append(`<p>${err}</p>`);
            });
    }
</script>
{% endblock %}