{% extends "typefiction/layout.html" %}
{% load static %}
{% block title %}: {{profile}}'s profile{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col">
            <h3 id="profile-card-{{profile.id}}">{{profile}}'s profile</h3> 
        </div>

        {% if request.user.id != profile.id and user.is_authenticated %} 
        <div class="col-2 text-left">
            <div class="text-left"><button id="follow-btn-{{profile.id}}" class="btn btn-primary mx-3">Follow</button></div> 
        </div>
        {% endif %}
    </div>
    
    <h5 class="my-3"><strong id="following-num-{{profile.id}}">{{following|length}}</strong> following | <strong id="follower-num-{{profile.id}}">{{follower|length}}</strong> followers</h5>
    {% for story in stories%}
    <!-- display stories with at least 1 chapter if they are not the author -->
        {% if request.user.id != profile.id and story.chapters.count > 0 %}
            {% include 'typefiction/components/thread.html' %}
        {% elif request.user.id == profile.id%}
            {% include 'typefiction/components/thread.html' %}
        {% endif %}
    {% endfor %}
    <!-- {% if user.is_authenticated %}
        {% include 'typefiction/components/newCat.html' %}
        {% include 'typefiction/components/newStory.html' %}
    {% endif %} -->
{% endblock %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function(){
        const profile_id = {{profile.id}}

        {% if request.user.id != profile.id and user.is_authenticated %} 
            follow_status(profile_id)
            document.querySelector('#follow-btn-{{profile.id}}').addEventListener('click', () => go_follow(profile_id));
        {% endif %}
    });

    function go_follow(user_id){
        // select follow button by element id
        const f = document.querySelector(`#follow-btn-${user_id}`);
        // select follow number by element id
        const numElm = document.querySelector(`#follower-num-${user_id}`);
        const num = parseInt(numElm.innerHTML)
        // perform PUT
        fetch('/follows/'+user_id, {
            method: 'PUT',
        })
        .then(res=>res.json())
        .then(data=>{
            // update button text
            f.innerHTML = data.msg
            // update follower number
            numElm.innerHTML = f.innerHTML === "Follow" ? num-1 : num+1;
        })
        .catch(err=>console.log(err));
    }

    function follow_status(user_id) {
        // select follow button by element id
        const f = document.querySelector(`#follow-btn-${user_id}`);
        // perform GET
        fetch('/follows/'+user_id, {
            method: 'GET',
        })
        .then(res=>res.json())
        .then(data=>{
            // update button text
            f.innerHTML = data.msg
        })
        .catch(err=>console.log(err));
    }
</script>
{% endblock %}