{% extends "typefiction/layout.html" %}
{% block title %}: {{story}}{% endblock %}

{% block body %}
    {% include 'typefiction/components/thread.html' %}
    {% for c in chapters %}
    {% include 'typefiction/components/chapter.html' %}
    {% endfor %}

    {% if request.user == story.author %}
    {% include 'typefiction/components/newChapter.html' %}
    {% endif %}
    <div class="container my-3">
        <a name="reviews"><h3 class="border-bottom mb-3">Reviews</h3></a>
    {% if comments.count %}
        {% for com in comments %}
        <div  class="border-bottom">
            <p>{{com.comment}}</p>
            <small>Reviewed by {{com.user}} {{com.post_date|timesince}} ago</small>
        </div>
        {% endfor %}
    {% else %}
        <p>There is no review yet...</p>
    {% endif %}
    </div>
    {% if user.is_authenticated %}
    {% include 'typefiction/components/newComment.html' %}
    {% endif %}
{% endblock %}