{% load static %}

{% if user.is_authenticated %}
<form class="p-2 d-none" id="new-cat-form" method="POST" action="{% url "submit_cat" %}">
    {% csrf_token %}
    <label for="msg" class="form-label">New Category</label>
    <input type="text" class="form-control" placeholder="Category" name="name" id="msg">
    <div class="text-right py-2">
        <button type="submit" class="btn btn-primary w-100 p-2">Submit</button>
    </div>
</form>
{% endif %}

<script src="{% static 'typeFiction/newStory.js' %}"></script>