{% load static %}

{% if user.is_authenticated %}
<button class="btn btn-outline-primary w-100" id="new-chapter-btn">Add New Chapter</button>
<form class="p-2 d-none" method="POST" action="{% url "submit_chapter" story.id %}" id="new-chapter-form">
    {% csrf_token %}
    <input type="text" class="form-control" placeholder="Chapter {{story.chapters.count|add:"1"}}:" name="chapter" id="msg">
    <textarea class="form-control" placeholder="We support markdown..." name="content" id="msg" rows="50"></textarea>
    <div class="text-right py-2">
        <button type="submit" class="btn btn-primary w-100 p-2">Submit</button>
    </div>
</form>
{% endif %}

<!-- in page javascript because heroku doesn not server static files -->
<!-- <script src="{% static 'typeFiction/newChap.js' %}"></script> -->
<script>
    $("#new-chapter-btn").click(function(){
        $("#new-chapter-form").toggleClass("d-none")
        const word = $('#new-chapter-btn').text();
        $('#new-chapter-btn').text(
            word == "Add New Chapter" ? "Close" : "Add New Chapter");
    })

</script>