{% load static %}
<div class="container my-2 border border-primary">
    <div class="row">
        <div class="col-1">
            <a href="{% url "story" story.id %}">
                <img class="p-1" src="{% static 'typefiction/application.png' %}" width="70px">
            </a>
        </div>
        <div class="col">
            <p><a href="{% url "story" story.id %}" id="title-link">{{story.title}}</a> by <a href="{% url "profile" story.author.id %}" id="author-link">{{story.author}}</a> <strong class="text-success">reviews</strong></p>
            <p>{{story.description}}</p>
        </div>
        <div class="col-1">
            <i class="fas fa-heart mx-1" id="like-btn-{{story.id}}"></i><i class="fas fa-plus"></i>
        </div>
    </div>
    <small>Category: {{story.category}} - Chapters: {{story.chapters.count}} - Published: {{story.post_date|timesince}} ago - Likes: <span id="story-{{story.id}}-likes">{{story.likes.count}}</span> - Favorite: {{story.watchlist.count}}</small>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function(){
        const story_id = {{story.id}}
        {% if user.is_authenticated %}
            document.querySelector('#like-btn-{{story.id}}').addEventListener('click', () => go_like(story_id));
        {% endif %}
    });

    function go_like(story_id){
        // select like number element by id
        const btn = document.querySelector(`#like-btn-${story_id}`);
        const l = document.querySelector(`#story-${story_id}-likes`);
        // perform
        fetch(`/likes/${story_id}`, {
            method: 'PUT',
        })
        .then(res=>res.json())
        .then(data=>{
            l.innerHTML = data.likes;
        })
        .catch(err=>console.log(err));
    }
</script>