{% load static %}
<div class="container my-3 p-3 border border-primary" id="story-card-{{story.id}}">
    <div class="row">
        <div class="col">
            <p><strong><a href="{% url "story" story.id %}" id="story-title-link-{{story.id}}">{{story.title}}</a></strong> <small>by </small><a href="{% url "profile" story.author.id %}" id="author-link">{{story.author}}</a> {% if story.chapters.count%}<a class="text-success" href="{% url "story" story.id %}#reviews" id="story-review-link"><strong>reviews</strong></a>{% else %}<strong class="text-danger">Story with no chapter is not published</strong>{% endif %}</p>
            <p id="story-desc-{{story.id}}">{{story.description}}</p>
        </div>
        {% if user.is_authenticated %} 
        <div class="col-2 text-right">
            {% if request.user != story.author %} 
            <button class="btn btn-link" id="watch-btn-{{story.id}}"><i id="watch-icon-{{story.id}}" class="far fa-eye"></i></button>
            {% endif %}
            <button class="btn btn-link" id="like-btn-{{story.id}}"><i id="like-icon-{{story.id}}" class="fas fa-heart"></i></button>
        </div>
        {% endif %}
    </div>
    <small>Category: {{story.category}} - Chapters: {{story.chapters.count}} - Published: {{story.post_date|timesince}} ago - Likes: <span id="story-{{story.id}}-likes">{{story.likes.count}}</span> - Watchers: <span id="story-{{story.id}}-watch">{{story.watchlist.count}}</span>{% if request.user == story.author %} - <strong id="edit-story-{{story.id}}" class="text-success cursor-pointer">Edit</strong> - <strong id="delete-story-{{story.id}}" class="text-danger cursor-pointer">Delete</strong>{% endif %}</small>
</div>

<!-- implement javascript to use django templates variable -->
<script>
    document.addEventListener("DOMContentLoaded", function(){
        const story_id = "{{story.id}}"
        {% if user.is_authenticated %}
            {% if story.chapters.count == 0 %}
                document.querySelector('#story-card-{{story.id}}').classList.add("border-danger");
            {% endif %}
            document.querySelector('#like-btn-{{story.id}}').addEventListener('click', () => go_like(story_id));
            // Show watch button only for users that are not the author
            {% if request.user != story.author %} 
            document.querySelector('#watch-btn-{{story.id}}').addEventListener('click', () => add_watchlist(story_id));
            {% endif %}
            // Allow author to edit / delete their own story
            {% if request.user == story.author %} 
            document.querySelector('#edit-story-{{story.id}}').addEventListener('click', () => edit_story(story_id));
            document.querySelector('#delete-story-{{story.id}}').addEventListener('click', () => delete_story(story_id));
            {% endif %}
            // Turn Like button color to red if the user has liked the story
            {% if request.user in story.likes.all %}
            document.querySelector(`#like-icon-{{story.id}}`).classList.add("text-danger")
            {% endif %}
            // Turn Watch button color to red if the user is watching the story
            {% if request.user in story.watchlist.all %}
            document.querySelector(`#watch-icon-{{story.id}}`).classList.add("text-danger")
            {% endif %}
        {% endif %}
    });

    function go_like(story_id){
        // select like button element by id
        const btn = document.querySelector(`#like-btn-${story_id}`);
        // select like count element by id
        const l = document.querySelector(`#story-${story_id}-likes`);
        // perform
        fetch(`/likes/${story_id}`, {
            method: 'PUT',
        })
        .then(res=>res.json())
        .then(data=>{
            l.innerHTML = data.likes;
            check_likes(story_id);
        })
        .catch(err=>{
            $(`#warning-box`).toggleClass("d-none");
            $(`#warning-box`).append(`<p>${err}</p>`);
        });
    }

    function add_watchlist(story_id){
        // select watch button element by id
        const wbtn = document.querySelector(`#watch-btn-${story_id}`);
        // select watcher number element by id
        const w = document.querySelector(`#story-${story_id}-watch`);
        // perform
        fetch(`/watchlist/${story_id}`, {
            method: 'PUT',
        })
        .then(res=>res.json())
        .then(data=>{
            w.innerHTML = data.count;
            check_watchlist(story_id);
        })
        .catch(err=>{
            $(`#warning-box`).toggleClass("d-none");
            $(`#warning-box`).append(`<p>${err}</p>`);
        });
    }

    function check_likes(story_id){
        // select like icon by id
        const l_icon = document.querySelector(`#like-icon-${story_id}`);
        // toggle between classes
        l_icon.classList.contains("text-danger") ? l_icon.classList.remove("text-danger") : l_icon.classList.add("text-danger");
    }

    function check_watchlist(story_id){
        // select like icon by id
        $(`#watch-icon-${story_id}`).toggleClass("text-danger");
    }

    // DELETE STORY
    function delete_story(story_id){
        fetch(`/story/delete/${story_id}`, {
            method: 'POST'
        })
        .then(res=>res.json())
        .then(()=>{
            document.querySelector(`#story-card-${story_id}`).remove()
        })
        .catch(err=>{
            $(`#warning-box`).toggleClass("d-none");
            $(`#warning-box`).append(`<p>${err}</p>`);
        });
    }

    // EDIT STORY
    function edit_story(story_id){
    // select edit button by element id
    const story_div = document.querySelector(`#story-card-${story_id}`);
    // create input box for story title
    const story_title_el = document.querySelector(`#story-title-link-${story_id}`);
    const story_title_input = document.createElement('input');
    story_title_input.type = "text"
    story_title_input.id = `new_story_title-${story_id}`;
    story_title_input.classList.add("form-control");
    story_title_input.required = true;
    story_title_input.value = story_title_el.innerHTML;
    story_title_el.parentNode.replaceChild(story_title_input, story_title_el)
    // create textarea box for story description
    const story_desc_el = document.querySelector(`#story-desc-${story_id}`);
    const story_desc_input = document.createElement('textarea');
    story_desc_input.id = `new_story_desc-${story_id}`
    story_desc_input.row = "3"
    story_desc_input.classList.add("form-control");
    story_desc_input.required = true;
    story_desc_input.value = story_desc_el.innerHTML;
    story_desc_el.parentNode.replaceChild(story_desc_input, story_desc_el)
    // create submit button
    const story_submit_btn = document.createElement('button');
    story_submit_btn.id = `submit-btn-${story_id}`;
    story_submit_btn.className = 'btn btn-success m-1';
    story_submit_btn.innerHTML = 'Update';
    // add submit button to UI
    story_div.append(story_submit_btn)

    // when the submit button is clicked
    story_submit_btn.addEventListener('click', () => {
        const newStoryTitle = document.querySelector(`#new_story_title-${story_id}`).value;
        const newStoryDesc = document.querySelector(`#new_story_desc-${story_id}`).value;
        fetch(`/story/edit/${story_id}`, {
            method: 'POST', 
            body: JSON.stringify({
                title: newStoryTitle,
                description: newStoryDesc
            })
        })
        .then(res=>res.json())
        .then(data=>{
            story_title_el.innerHTML = newStoryTitle;
            story_desc_el.innerHTML = newStoryDesc;
            // switch out input boxes
            story_title_input.parentNode.replaceChild(story_title_el, story_title_input)
            story_desc_input.parentNode.replaceChild(story_desc_el, story_desc_input)
            story_submit_btn.remove()
        })
        .catch(err=>{
            $(`#warning-box`).toggleClass("d-none");
            $(`#warning-box`).append(`<p>${err}</p>`);
        });
    })

}

    
</script>